$primary: rgb(255, 255, 255);
.card {
    background-color: $primary;
    width: 90%;
    height: 100vh; /* Ajusta la altura a lo que necesites */
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}


/*
    align-items: center;
    padding: 1rem 2rem;*/